body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #6d77ff 0%, #cdd0ff 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

nav {
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #6d77ff;
    margin: 10px;
}

.search-bar {
    flex-grow: 1;
    margin: 0 20px;
}

.search-bar input {
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-left: 150px;
}

.admin-panel {
    display: flex;
    align-items: center;
}

.admin-panel img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.add-restaurant-btn {
    background-color: #fff;
    color: #6d77ff;
    border: 2px solid #6d77ff;
    border-radius: 5px;
    padding: 12px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.add-restaurant-btn:hover {
    background-color: #6d77ff;
    color: #fff;
}